<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h5>
        <% if current_user.admin? && current_user?(@user)%>
          <%= link_to "new events", events_path %>
          <% elsif current_user?(@user) %>
          your account <%= current_user.name %>
          <% elsif current_user %>
          not your account <%= current_user.name %>, this is <%= @user.name %>'s account
        <% end %>
      </h5>
    </section>
  </aside>
</div>