<% provide(:title, 'Event') %>
<div class="row">
  <% if current_user.admin? %>
    <h1>create event</h1>
    <div class="col-sm-6">
      <%= form_for(:event, url: events_path) do |f| %>
        <%= render 'shared/event_error_messages' %>
        
        <div class="col-sm-12">
          <%= f.label :event_name %>
          <%= f.text_field :event_name, class: 'form-control', required: true  %>
        </div>
        
        <div class="col-sm-7">
          <%= f.label :start_time %>
          <%= f.date_field :start_time, class: 'form-control', required: true  %>
        </div>
        
        <div class="col-sm-12">
          <%= f.submit "Create my event", class: "btn btn-primary" %>
        </div>
        
      <% end %>
    </div>
  <% elsif logged_in? %>
    <h1>Current Events</h1>
    <div class="col-sm-12">
      <ul class="events">
        <%= render @events%>
      </ul>
    </div>
  <% end %>
</div>