new page for events
<h1>create event</h1>
<div class="col-sm-6">
  <%= simple_form_for(@event, url: events_path) do |f| %>
    <%= render 'shared/event_error_messages' %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.input :event_name, class: 'form-control', required: true%>
      </div>
      
      <div class="col-sm-7">
        <%= f.input :start_time, id: "dateFieldId", as: "date", class: "form-control" %>
      </div>
      
      <%= f.association :time_slots, as: :check_boxes, collection: TimeSlot.all %>
    </div>

    
    <div class="col-sm-12">
      <%= f.submit "Create my event", class: "btn btn-primary" %>
    </div>
    
  <% end %>
</div>