<h1>I am the show page for events</h1>

<h4><%= @event.event_name %></h4>
<h4><%= @event.start_time %></h4>

<ul class="list-unstyled">
  <li>event id <%= @event.id %></li>
  Available Times:
  
  <% @event.time_slots.each do |time_slot| %>
    <li>
      <% if @event.bookings.exists?(time_slot_id: time_slot.id) %>
        <%= time_slot.hour %>:00 is filled
      <% else %>
        <%= link_to("#{time_slot.hour}:00", new_booking_path(time_slot_id: time_slot.id, event_id: @event.id)) %>
      <% end %>
    </li>
  <% end %>
</ul>